:root {
  --color-primary: #b5986d;
  --color-text: #fff;

  --width-full: 100vw;
  --width-container: 1024px;
  --size-standard: 150px;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
  background-color: #021222;
  color: var(--color-text);

  padding: 32px 32px 0 32px;
}

#home-content,
#menu-content,
#contact-content {
  display: flex;
  align-items: center;

  flex-direction: column;
  min-height: calc(100vh - var(--size-standard));
}

input[type="submit"],
button {
  cursor: pointer;
  z-index: 11;
}

form {
  width: var(--width-container);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form input {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  height: var(--size-standard);
  z-index: 1;
}

nav a {
  color: var(--color-primary);
  text-decoration: none;
}

nav a:hover:not(#logo),
nav .selected {
  border-bottom: 1px solid var(--color-primary); /* Or whatever color you want */
  text-decoration: none;
}

nav .logo {
  width: var(--size-standard);
  height: var(--size-standard);
}

nav .links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 5em;
}

.jumbotron {
  position: relative;
  top: -180px;
  width: var(--width-full);
  height: 50em;
  margin-bottom: -200px;

  display: flex;
  align-items: center;

  justify-content: center;
  overflow: hidden;
}

.jumbotron {
  height: 50em;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(2, 18, 34, 0.5),
      rgba(2, 18, 34, 1)
    ),
    url("./assets/pizza.jpg");
}

.jumbotron-content {
  position: absolute;
  width: var(--width-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbotron h1 {
  color: var(--color-text);
  font-size: 62pt;
  font-weight: 100;
}

.jumbotron button {
  padding: 2em;
  bottom: 0;
  color: var(--color-primary);
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  border: var(--color-primary) solid 1px;

  z-index: 2;
}

.jumbotron button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.block {
  line-height: 24pt;
  padding-top: 2em;
  padding-bottom: 10em;
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  gap: 5em;
  max-width: var(--width-container);
}

.block h1,
.thumbnails h1 {
  color: var(--color-primary);
}

.block > div {
  margin: auto;
}

.block img {
  border: var(--color-primary) solid 1px;
  padding: 16px;
  max-width: 400px;
}

.reverseGrid {
  grid-auto-flow: dense;
  direction: rtl;
  text-align: left;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--color-primary);
  max-width: var(--width-container);
  width: 100%;
  margin-bottom: 10em;
}

footer {
  line-height: 16pt;
  margin-top: auto;
  background-color: black;
  color: var(--color-text);
  width: var(--width-full);
  height: 5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: white;
}

.menu-header {
  color: var(--color-primary);
  font-size: 3em;
  font-weight: bolder;
  text-align: left;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5em;
  max-width: var(--width-container);
}

.menu span {
  display: flex;
  justify-content: space-between;
  vertical-align: text-bottom;
}

.menu span h3,
.menu span p {
  color: var(--color-primary);
  margin: 0;
}

.menu p {
  color: rgb(200, 200, 200);
  margin-bottom: 3em;
}

.invinsible {
  display: none !important;
}

.thumbnails {
  margin-bottom: 10em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: var(--width-container);
  line-height: 24pt;
}

.thumbnails > p {
  margin-bottom: 75px;
}

.thumbnails div {
  overflow: hidden;
  border: var(--color-primary) solid 1px;
  padding: 16px;
  margin: 16px;
  max-width: 260px;
  height: 180px;
}

.thumbnails img {
  opacity: 0.75;

  max-width: 260px;
  height: 180px;
  transition: all 0.5s ease-in-out;
}

.thumbnails img:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  scale: 1.1;
}

#contact-content label {
  color: var(--color-primary);
}

#contact-content input,
#contact-content select,
#contact-content textarea {
  padding-left: 16px;
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  box-sizing: border-box;
}

#contact-content textarea {
  padding-top: 16px;
}

select::-ms-expand {
  display: none;
}

#contact-content input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1024px) {
  nav {
    flex-direction: column;
    gap: 0;
  }

  .jumbotron-content {
    display: inline;
    text-align: center;
    width: var(--width-full);
    margin-top: var(--size-standard);
  }

  .block {
    grid-template-columns: 1fr;
  }

  #menu-content {
    margin-top: 50px;
  }

  .menu {
    grid-template-columns: 1fr;
  }

  #contact-content {
    margin-top: 50px;
  }

  form {
    width: 100%;
  }
}
